# Binary
/basl
/basl.exe
/build/
/build-emscripten/
/compile_commands.json

# C / CMake
*.dylib
*.so
*.dll
*.wasm
*.js
*.data
*.html

# Editors
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# AI
.kiro

# Python
__pycache__/
/build-sanitize/
build_asan/
build-release/
build-profile/
build-asan/
build-ci-san/
.cache/
build-san/
